# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
misc.xml
modules.xml
orale-authentic-mexican-flavor.github.io.iml
vcs.xml
workspace.xml